@page "/about"
<style>
    body {
        font-family: 'Arial', 'Helvetica', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }

    .card {
        background-color: #fff;
        width: 100%;
        max-width: 500px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }

    .profile-container {
        background: url('https://www.deepsouthinnovation.com/img/psu_th.png') left/cover; 
        text-align: center;
        margin-bottom: 10px;
        position: relative;
        color: #fff;
        padding: 20px;
        border-radius: 10px;
    }

    .profile-image {
        max-width: 200px;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 5px;
        border-radius: 5px;
    }

    .personal-info p {
        font-size: 16px;
        line-height: 1.4;
        margin: 8px 0;
    }

    .personal-info strong {
        font-weight: bold;
    }

    .contact-info {
        text-align: left;
    }

        .contact-info h3 {
            font-size: 18px;
            font-weight: bold;
            margin-top: 10px;
        }

        .contact-info p {
            font-size: 14px;
            margin: 8px 0;
        }
</style>

<h1><b>About</b></h1>

<div class="card">
    <div class="profile-container">
        <img class="profile-image" src="https://regist.psu.ac.th/Stud_Pics/65/6510110140.jpg" alt="art" />
    </div>
    <div class="personal-info">
        <h2><strong>NATTANON CHUMRIT</strong></h2>
        <p><strong>Student ID:</strong> 6510110140</p>
        <p><strong>Things I like:</strong> Draw a picture</p>
        <p><strong>Currently studying at:</strong> Price of Songkla University (PSU)</p>
        <p><strong>Faculty:</strong> Engineering</p>
        <p><strong>Field:</strong> Computer engineering</p>
    </div>

</div>